:root {
    --font: Arial, Helvetica, sans-serif;
    --darkMode: black;
    --lightMode: white;
}

body {
    width: 100%;
    background-color: aliceblue;
    color: black;
    font-family: var(--font);
}

#mode img {
    height: 25px;
    width: 25px;
    margin-right: -80px;
    margin-bottom: -8px;
    border: 1px solid black;
    
  }

  #mode {
    height: 0px;
  }

.dark-mode {
    background-color: black;
    color: aliceblue;
}

#blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#button {
  margin-top: 30px;  
}

#back-button {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-right: 50px;

}

button #mode {
    margin-right: -10px;
} 

#border {
    border: 5px solid black;
    height: 5px;
    margin-top: 0px;
    margin-bottom: 0;
    width: 100%;
}

#main-blog div h2 {
    margin-bottom: 0;
    margin-left: 10px;
}

#main-blog div {
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-blog div #content {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

#main-blog div #post {
    margin-bottom: 0;
    margin-left: 10px;
}

aside p a {
    color: var(--darkMode);
    margin-left: 5px;
    text-decoration: underline;
    visibility: visible;
}

footer img {
    width: 12px;
    height: 12px;
}

footer {
    text-align: center;
}